h1 {
    text-align: center;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.main_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 20px 20px 20px;
}

.container-1,
.container-2,
.container-3 {
    border: 1px solid black;
    width: 300px;
    background: grey;
}

div>section>h3 {
    background: pink;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}

div>section>p {
    float: left;
    margin-bottom: 10px;
    clear: left;
}